Repository team-all-in/all-in, pull requests merged in 2024-09, with the labels that each got.

#46 create ecr
  terraform/env/.terraform.lock.hcl
  terraform/env/.tflint.hcl
  terraform/env/.tfmigrate.hcl
  terraform/env/aqua/aqua-checksums.json
  terraform/env/aqua/aqua.yaml
  terraform/env/aqua/imports/terraform.yaml
  terraform/env/aqua/imports/tflint.yaml
  terraform/env/aqua/imports/trivy.yaml
  terraform/env/backend.tf
  terraform/env/ecr.tf
  terraform/env/terraform.tf
  terraform/env/tfaction.yaml
  terraform/modules/.git_keep
  terraform/production/backend.tf
Labels: terraform/env, terraform/env/add-or-update

#52 chore: add output ecr_arn
  terraform/env/outputs.tf
Labels: terraform/env, terraform/env/add-or-update

#56 feat: app runner
  terraform/env/app-runner.tf
Labels: terraform/env, terraform/env/add-or-update

#69 Fix/apprunner
  .gitignore
  terraform/env/app-runner.tf
Labels: terraform/env, terraform/env/no-changes

#73 chore: downsize
  terraform/env/.terraform.lock.hcl
  terraform/env/app-runner.tf
Labels: terraform/env, terraform/env/add-or-update

#86 chore: add secret
  terraform/env/app-runner.tf
Labels: terraform/env, terraform/env/add-or-update

#90 fix: secret
  .github/workflows/build-push.yaml
  terraform/env/app-runner.tf
Labels: terraform/env, terraform/env/add-or-update

#102 add: decryption secret
  .gitignore
  terraform/env/app-runner.tf
  terraform/env/data.tf
Labels: terraform/env, terraform/env/add-or-update

#109 feat: slack app runner
  .github/workflows/build-push-slack.yaml
  .github/workflows/build-slack.yaml
  terraform/env/data.tf
  terraform/env/ecr.tf
  terraform/env/slack-app-runner.tf
Labels: terraform/env, terraform/env/add-or-update

#142 fix: secret name
  terraform/env/data.tf
  terraform/env/discord-runner.tf
Labels: terraform/env

#181 fix: add discord token
  terraform/env/app-runner.tf
Labels: terraform/env

#173 refactor/app link buttons
  packages/web/src/app/(authenticated)/settings/components/app/button-item.tsx
  packages/web/src/app/(authenticated)/settings/components/app/button-list.tsx
  packages/web/src/app/(authenticated)/settings/components/app/index.tsx
  packages/web/src/app/(authenticated)/settings/data/get-app-settings.tsx
Labels: web, refactor

#195 refactor/add skelton loading
  packages/web/src/app/(authenticated)/inbox/components/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/account-icon.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/app-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/discord.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/github.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/slack.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/label-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/label.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/mark-as-read-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/list/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/loading.tsx
  packages/web/src/app/(authenticated)/inbox/page.tsx
  packages/web/src/components/ui/skeleton.tsx
Labels: web, refactor

#199 refactor/setting success
  packages/web/src/app/(authenticated)/settings/components/back-link.tsx
  packages/web/src/app/(authenticated)/settings/success/appType.ts
  packages/web/src/app/(authenticated)/settings/success/page.tsx
  packages/web/src/hooks/use-get-window-size.ts
Labels: 🕸️ Web, 🔄 Refactor

#207 feature/delete message
  packages/web/src/app/(authenticated)/inbox/actions/deleteMessage.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/delete-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/(authenticated)/inbox/data/getMessages.ts
  packages/web/src/server/messages/delete-message.ts
Labels: 🕸️ Web, 🚀 Feature

#202 192 web update/oauth linkage view
  packages/web/package.json
  packages/web/src/app/(authenticated)/settings/actions/deleteSettings.ts
  packages/web/src/app/(authenticated)/settings/components/app/account-connection-switcher.tsx
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-item.tsx
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-list.tsx
  packages/web/src/app/(authenticated)/settings/components/app/button-item.tsx
  packages/web/src/app/(authenticated)/settings/components/app/button-list.tsx
  packages/web/src/app/(authenticated)/settings/components/app/enable-label.tsx
  packages/web/src/app/(authenticated)/settings/components/app/index.tsx
  packages/web/src/app/(authenticated)/settings/delete/page.tsx
  packages/web/src/components/ui/accordion.tsx
  packages/web/src/server/settings/deleteSettings.ts
  packages/web/tailwind.config.ts
  pnpm-lock.yaml
Labels: 🕸️ Web

#208 chore: down size runner
  terraform/env/app-runner.tf
  terraform/env/discord-runner.tf
  terraform/env/slack-app-runner.tf
Labels: 🏗️ Infra, terraform/env

#214 fix(slack): supabaseへのアクセストークンリクエストを削減
  packages/api/src/app.py
  packages/api/src/sync_app/slack/slack.py
Labels: 🌐 API

#218 fix(web): appでメッセージの表示を切り替えるようにしまたした
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-item.tsx
Labels: 🕸️ Web

#219 fix(web): Slackの連携成功画面の文字を黒色に変更しました
  packages/web/src/app/(authenticated)/settings/success/appType.ts
Labels: 🕸️ Web

#223 chore: image scan
  terraform/env/ecr.tf
Labels: 🏗️ Infra, terraform/env, terraform/env/add-or-update

#240 feat(web): add vercel analytics
  packages/web/package.json
  packages/web/src/app/layout.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#247 refactor/web
  packages/web/src/app/(authenticated)/settings/actions/deleteSettings.ts
  packages/web/src/app/(authenticated)/settings/components/app/account-connection-switcher.tsx
  packages/web/src/app/(authenticated)/settings/components/app/enable-label.tsx
  packages/web/src/app/(authenticated)/settings/delete/page.tsx
  packages/web/src/components/ui/accordion.tsx
  packages/web/src/server/settings/deleteSettings.ts
Labels: 🕸️ Web, 🔄 Refactor

#249 APIのREADMEでdocker起動コマンドが間違っていたので修正
  packages/api/README.md
Labels: 🌐 API, 🛠️ Fix

#251 refactor(web): update setting message
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-item.tsx
Labels: 🕸️ Web, 🔄 Refactor

#253 chore: auto refersh token
  .github/ci/go.mod
  .github/ci/go.sum
  .github/ci/slack_token_rotation.go
  .github/workflows/refresh-slack-token.yaml
  terraform/shared/data.tf
  terraform/shared/iam_role.tf
Labels: 🏗️ Infra, terraform/shared, terraform/shared/add-or-update

#252 refactor(web): user-info component to add flex-wrap to the container
  packages/web/src/app/(authenticated)/settings/components/user/user-info.tsx
Labels: 🕸️ Web, 🔄 Refactor

#246 chore(web): update dummy date
  packages/web/src/__test__/message/fixutures.ts
Labels: 🕸️ Web, 🔄 Refactor

#254 delete(web): 不要なコードを削除しました
  packages/web/src/app/(authenticated)/settings/components/app/DiscordButton.tsx
  packages/web/src/app/(authenticated)/settings/components/app/GithubButton.tsx
  packages/web/src/app/(authenticated)/settings/components/app/SlackButton.tsx
  packages/web/src/app/(authenticated)/settings/delete/page.tsx
  packages/web/src/components/ui/button.tsx
Labels: 🕸️ Web

#256 fix
  .github/ci/slack_token_rotation.go
Labels: 🛠️ Fix

#215 feat(api): Pythonのformatter, linterであるRuffを追加
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  ruff.toml
Labels: 🌐 API, 🚀 Feature

#258 feat(web): add og image
  packages/web/src/app/opengraph-image.png
  packages/web/src/app/twitter-image.png
Labels: 🕸️ Web, 🚀 Feature

#248 Discord連携でサーバの選択が出来るように
  packages/web/src/app/(authenticated)/settings/discord/page.tsx
Labels: 🕸️ Web

#259 refactor(web): update header style
  packages/web/src/components/common/header/index.tsx
Labels: 🕸️ Web, 🔄 Refactor

#260 refactor/header
  packages/web/src/app/(authenticated)/inbox/components/settings-link.tsx
  packages/web/src/app/(authenticated)/inbox/components/sort-pulldown.tsx
Labels: 🕸️ Web, 🔄 Refactor

#261 refactor: OAuthキャンセル時の処理
  packages/web/src/app/oauth/discord/route.ts
  packages/web/src/app/oauth/slack/route.ts
Labels: 🕸️ Web

#263 fix
  terraform/env/ecr.tf
Labels: 🏗️ Infra, terraform/env, terraform/env/add-or-update, 🛠️ Fix

#265 fix(web): update discord oauth logic
  packages/web/src/app/oauth/discord/route.ts
Labels: 🕸️ Web, 🛠️ Fix

#267 chore: add apprunner start deploy action
  terraform/shared/iam_role.tf
Labels: 🏗️ Infra, terraform/shared, terraform/shared/add-or-update

#264 feat(api): DBへinsertする情報の変更とメッセージレスポンスのスキーマ変更
  packages/api/src/const/message.py
  packages/api/src/sync_app/discord/discord.py
  packages/api/src/sync_app/slack/slack.py
  packages/discord/discordAPI.py
  packages/slack/slack_bot.py
Labels: 🌐 API, 🚀 Feature, 🤖 Discord, 🤖 Slack

#273 fix(api): update priority number dictionary
  packages/api/src/predict/priority/priority.py
Labels: 🌐 API, 🛠️ Fix

#241 messageデータの取得（サーバimg、サーバ名、チャンネル名）
  packages/api/src/app.py
  packages/api/src/sync_app/discord/discord.py
  packages/api/src/sync_app/discord/discordAPI.py
  ruff.toml
Labels: 🌐 API

#268 Refactor item design
  packages/web/src/__test__/message/fixutures.ts
  packages/web/src/app/(authenticated)/inbox/components/info-message.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/database-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/_delete-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/_mark-as-read-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/account-icon.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/app-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/discordwhite.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/github.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/content.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/label-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/label.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/names.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/sentiment.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/time.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/item-background.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/skelton.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/list/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/response-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/skelton.tsx
  packages/web/src/app/(authenticated)/inbox/data/get-database-messages.ts
  packages/web/src/app/(authenticated)/inbox/data/get-messages.ts
  packages/web/src/app/(authenticated)/inbox/data/getMessages.ts
  packages/web/src/app/(authenticated)/inbox/layout.tsx
  packages/web/src/app/(authenticated)/inbox/page.tsx
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-list.tsx
  packages/web/src/components/ui/select.tsx
  packages/web/src/libs/configs.ts
  packages/web/src/libs/types/message.ts
  packages/web/src/server/github/fetch-notifications.ts
  packages/web/src/server/github/utils.ts
  packages/web/src/server/messages/fetch-database-messages.ts
  packages/web/src/server/messages/fetch-response-messages.ts
  packages/web/src/server/messages/utils/filter-messages.ts
  packages/web/src/server/messages/utils/group-messages/group-messages-by-date.ts
  packages/web/src/server/messages/utils/group-messages/group-messages-by-priority.ts
  packages/web/src/server/messages/utils/group-messages/index.ts
  packages/web/src/server/messages/utils/merge-messages.ts
  packages/web/src/server/messages/utils/transform-data.ts
Labels: 🕸️ Web, 🔄 Refactor

#245 メッセージアイテムの変更
  packages/web/src/__test__/message/fixutures.ts
  packages/web/src/app/(authenticated)/inbox/components/info-message.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/database-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/_delete-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/_mark-as-read-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/account-icon.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/app-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/discordwhite.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/assets/github.svg
  packages/web/src/app/(authenticated)/inbox/components/message/item/content.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/label-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/label.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/names.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/sentiment.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/header/time.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/item-background.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/skelton.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/list/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/message-list.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/response-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/skelton.tsx
  packages/web/src/app/(authenticated)/inbox/data/get-database-messages.ts
  packages/web/src/app/(authenticated)/inbox/data/get-messages.ts
  packages/web/src/app/(authenticated)/inbox/data/getMessages.ts
  packages/web/src/app/(authenticated)/inbox/layout.tsx
  packages/web/src/app/(authenticated)/inbox/page.tsx
  packages/web/src/app/(authenticated)/settings/components/app/app-setting-list.tsx
  packages/web/src/components/ui/select.tsx
  packages/web/src/libs/configs.ts
  packages/web/src/libs/types/database.ts
  packages/web/src/libs/types/message.ts
  packages/web/src/server/github/fetch-notifications.ts
  packages/web/src/server/github/utils.ts
  packages/web/src/server/messages/fetch-database-messages.ts
  packages/web/src/server/messages/fetch-response-messages.ts
  packages/web/src/server/messages/utils/filter-messages.ts
  packages/web/src/server/messages/utils/group-messages/group-messages-by-date.ts
  packages/web/src/server/messages/utils/group-messages/group-messages-by-priority.ts
  packages/web/src/server/messages/utils/group-messages/index.ts
  packages/web/src/server/messages/utils/merge-messages.ts
  packages/web/src/server/messages/utils/transform-data.ts
Labels: 🕸️ Web, 🔄 Refactor

#286 refactor/loading
  packages/web/package.json
  packages/web/src/app/(authenticated)/inbox/components/message/database-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/content.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/item-background.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/response-messages.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/skelton.tsx
  packages/web/src/app/(authenticated)/inbox/data/get-database-messages.ts
  packages/web/src/app/(authenticated)/inbox/data/get-messages.ts
  packages/web/src/app/api/get-messages/route.ts
  packages/web/src/libs/supabase/middleware.ts
  pnpm-lock.yaml
Labels: 🕸️ Web, 🔄 Refactor

#282 update database schema
  packages/web/src/libs/types/database.ts
Labels: 🕸️ Web, 🔄 Refactor, 💽 DB
