Repository team-all-in/all-in, pull requests merged in 2024-10, with the labels that each got.

#274 refactor/api predict
  packages/api/src/app.py
  packages/api/src/predict/emotion/emotion.py
  packages/api/src/predict/priority/priority.py
Labels: 🌐 API, 🔄 Refactor

#287 テーマの切り替え設定
  packages/web/package.json
  packages/web/public/theme/dark.svg
  packages/web/public/theme/light.svg
  packages/web/public/theme/system.svg
  packages/web/src/app/(authenticated)/settings/components/user/index.tsx
  packages/web/src/app/(authenticated)/settings/components/user/theme-setting-item.tsx
  packages/web/src/app/(authenticated)/settings/components/user/theme-setting-list.tsx
  packages/web/src/app/(authenticated)/settings/components/user/user-info.tsx
  packages/web/src/app/globals.css
  packages/web/src/app/layout.tsx
  packages/web/src/components/theme-provider.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#288 205 web design
  packages/web/package.json
  packages/web/src/app/(authenticated)/inbox/components/message/item/actions/action-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/actions/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/app-type.ts
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
  packages/web/src/app/globals.css
  packages/web/src/components/ui/separator.tsx
  packages/web/src/server/messages/fetch-database-messages.ts
  packages/web/src/server/messages/fetch-response-messages.ts
  pnpm-lock.yaml
Labels: 🕸️ Web

#285 メンション部分の削除
  packages/api/src/sync_app/discord/discordAPI.py
  packages/api/src/sync_app/slack/slack.py
Labels: 🌐 API

#291 chore: close app runner
  terraform/env/app-runner.tf
  terraform/env/data.tf
  terraform/env/discord-runner.tf
  terraform/env/ecr.tf
  terraform/env/outputs.tf
  terraform/env/slack-app-runner.tf
  terraform/modules/.git_keep
Labels: 🏗️ Infra, terraform/env, terraform/env/destroy

#293 chore: close role
  terraform/shared/data.tf
  terraform/shared/iam_role.tf
  terraform/shared/terraform.tf
Labels: 🏗️ Infra, terraform/shared, terraform/shared/destroy

#294 289 web feature/message list action
  packages/web/src/app/(authenticated)/inbox/components/message/item/actions/action-button.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/actions/index.tsx
  packages/web/src/app/(authenticated)/inbox/components/message/item/index.tsx
Labels: 🕸️ Web, 🚀 Feature

#295 290 web chore/view dammy data
  packages/web/src/app/(authenticated)/inbox/page.tsx
  packages/web/src/server/messages/fetch-database-messages.ts
  packages/web/src/server/messages/fetch-response-messages.ts
Labels: 🕸️ Web

#296 fix: スクロールした際にメッセージが下に入ってしまってたのでそれを修正しました
  packages/web/src/app/(authenticated)/inbox/page.tsx
Labels: 🕸️ Web, 🛠️ Fix
